<mat-card class="welcome-card">
  <mat-card-header>
    <div mat-card-avatar class="welcome-header-image"></div>
    <mat-card-title>Temperature conversion</mat-card-title>
    <mat-card-subtitle>Check conversion answers</mat-card-subtitle>
  </mat-card-header>
  <div class="welcome-image">
    <img mat-card-image
      src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/temperature-conversion-celsius-fahrenheit.jpg"
      alt="Photo of a Thermometer">
  </div>
  <mat-card-content>
    <p>
      Check the answers on simple conversion problems from one unit of measure to another.
    </p>
    <p>
      Input the value and unit and the target unit and value and check if the conversion is correct after rounding to the tenths place.
    </p>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="accent" routerLink="/check">Check an Answer</button>
  </mat-card-actions>
</mat-card>
